<app-navbar
  [checkLogin]="checkLogin"
  (clickNewArticle)="checkDemo($event)"
></app-navbar>

<div class="contain d-flex">
  <!-- Phần hiển thị News - sẽ được lấy từ 1 API bên ngoài -->
  <div class="news-content d-none d-md-block p-4">
    <div class="news-content-main">
      <h2 class="news-on-internet">News</h2>
      <app-article-news></app-article-news>
      <app-article-news></app-article-news>
      <app-article-news></app-article-news>
      <app-article-news></app-article-news>
    </div>
  </div>

  <!-- Phần hiển thị Articles và Tags - được lấy từ API backend -->
  <div class="artilce-tag-content d-flex p-2" #someVar>
    <!-- Phần hiển thị Articles -->
    <div class="article-content p-2 pl-5 pr-5">
      <div class="article-content-main" #mainScreen>
        <ul class="nav nav-tabs bg-white justify-content-end navbar-custom">
          <li
            class="nav-item"
            *ngIf="checkLogin"
            (click)="checkStatusFeed = true; whenStatusFeed()"
            [ngClass]="{ 'click-feed-global': checkStatusFeed }"
          >
            <a class="nav-link" href="#"><strong>Feed</strong></a>
          </li>
          <li
            class="nav-item"
            (click)="
              checkStatusFeed = false; whenStatusGlobal(); checkContent = 1
            "
            [ngClass]="{ 'click-feed-global': !checkStatusFeed }"
          >
            <a class="nav-link" href="#"><strong>Global</strong></a>
          </li>
          <li class="nav-item d-flex d-md-none" (click)="checkContent = 2">
            <!-- (click)="checkStatusFeed = false; whenStatusGlobal()"
          [ngClass]="{ 'click-feed-news': !checkStatusFeed }" -->
            <a class="nav-link" href="#"><strong>News</strong></a>
          </li>
          <li class="nav-item d-flex d-md-none" (click)="checkContent = 3">
            <!-- (click)="checkStatusFeed = false; whenStatusGlobal()"
          [ngClass]="{ 'click-feed-news': !checkStatusFeed }" -->
            <a class="nav-link" href="#"><strong>Tags</strong></a>
          </li>
        </ul>
        <div class="display-articles" *ngIf="checkContent == 1">
          <app-article-home
            *ngFor="let article of Articles"
            [nameAuthor]="article.author.username"
            [srcImage]="article.author.image"
            [title]="article.title"
            [description]="article.description"
            [body]="article.body"
            [tag]="article.tagList"
          ></app-article-home>
        </div>

        <app-article-home
          *ngFor="let article of Articles"
          [nameAuthor]="article.author.username"
          [srcImage]="article.author.image"
          [title]="article.title"
          [description]="article.description"
          [body]="article.body"
          [tag]="article.tagList"
          [slug]="article.slug"
        ></app-article-home>
        <div class="display-news" *ngIf="checkContent == 2">news</div>
        <div class="display-tags" *ngIf="checkContent == 3">tags</div>
        <div #demo></div>
      </div>
    </div>

    <!-- Phần hiển thị Tags -->
    <div class="tag-content d-none d-md-block w-25">
      <div class="tag-content-main d-flex flex-column">
        <div class="text-center btn btn-primary hastag mt-3 mb-3">#tags</div>

        <app-article-tags
          *ngFor="let tag of tags"
          [nameTag]="tag"
        ></app-article-tags>
        <div></div>
      </div>
    </div>
  </div>

  <!--  -->
</div>

<!-- Hiển thị Dialog post article - Chỉ hiển thị khi chuyển sang: /editor -->
<div [ngClass]="{ 'custom-dialog-create': checkClickNew }" class="p-3">
  <router-outlet></router-outlet>
</div>
