.contain {
  width: 100%;
  height: calc(100vh - 56px);
  position: relative;
  top: 56px;
}

.fix-tag,
.fix-tag-left {
  height: calc(100vh - 56px);
  overflow: auto;
  width: 20%;
  background-color: #f0f2f5;
  padding: 20px;
}

.fix-tag-content,
.fix-tag-contentleft {
  background-color: #fff;
  border-radius: 6px;
  padding: 8px;
}

.content-right {
  overflow-y: scroll;
  background-color: #f0f2f5;
}

.fix-tag {
  position: sticky;
  top: 0;
}

.content {
  background-color: #f0f2f5;
  width: 75%;
  height: 100%;
  padding: 20px 15px 0px 15px;
}

.content-main {
  min-height: 100%;
}

.nav-item strong {
  font-size: 1.5rem;
}

.navbar-custom {
  border-radius: 6px;
}

.hastag {
  background-color: #56a3e3;
  align-self: center;
  width: 55%;
}

.click-feed-global {
  border-bottom: 4px solid #3f77f3;
}

.nav-link {
  border: none;
}

@media screen and (max-width: 767px) {
  .content {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
  }
}

.custom {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* Custom Scroll */
.fix-tag-left::-webkit-scrollbar {
  width: 0.36rem;
}
.fix-tag-left::-webkit-scrollbar-thumb {
  background-color: rgba(75, 70, 70, 0.4);
  border-radius: 3px;
}
.fix-tag-left::-webkit-scrollbar-track {
  background: transparent;
}

/*  Scroll - content */
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(75, 70, 70, 0.4);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
