<div class="limiter">
  <div
    class="container-login100 d-flex justify-content-center align-items-center"
  >
    <div
      class="
        wrap-login100
        d-flex
        container-fluid
        col-lg-8 col-xl-6 col-md-9 col-sm-11 col-10
        m-0
        pr-3
        pl-3
        h-75
      "
    >
      <div class="col-6 align-items-center d-none d-sm-flex">
        <img
          src="https://vietjack.online/images/img-01.png"
          alt="IMG"
          class="w-100"
        />
      </div>

      <form
        class="
          login100-form
          validate-form
          d-flex
          flex-column
          justify-content-center
          col-sm-6
        "
        #checkValue="ngForm"
      >
        <h1 class="login100-form-title text-center">Login</h1>

        <div class="mt-4">
          <input
            type="text"
            class="form-control input100"
            id="emailControl"
            name="emailControl"
            autocomplete="off"
            required
            #emailControl="ngModel"
            [(ngModel)]="email"
            placeholder="Your email"
          />
          <ul
            class="text-danger caution"
            *ngIf="emailControl.invalid && emailControl.dirty"
          >
            <li *ngIf="emailControl.hasError('required')">
              E-mail is required
            </li>
          </ul>
        </div>

        <div data-validate="Password is required" class="mt-3">
          <input
            type="text"
            class="form-control input100"
            id="nameControl"
            name="nameControl"
            autocomplete="off"
            required
            #nameControl="ngModel"
            [(ngModel)]="password"
            placeholder="Your password"
          />
          <ul
            class="text-danger caution"
            *ngIf="nameControl.invalid && nameControl.dirty"
          >
            <li *ngIf="nameControl.hasError('required')">
              Password is required
            </li>
          </ul>
        </div>

        <div class="mt-3">
          <button
            class="
              btn btn-success
              w-100
              login100-form-btn
              text-white
              d-flex
              justify-content-center
              align-items-center
            "
            type="submit"
            (click)="checkSubmit(checkValue)"
          >
            LOGIN
          </button>
        </div>

        <!-- <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div> -->
      </form>
    </div>
  </div>
</div>
