.navbar{
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
li{
    margin-right: 5px;
}
li :hover{
    background-color: tomato;
    border-radius: 30px;
}
a{
    color: white;
    font-size: 20px;
    font-weight: 400;
}