/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: scroll;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Scrollbar Custom */
::-webkit-scrollbar {
  width: 0.65rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(75, 70, 70, 0.4);
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
